.section-padding {
	padding: 100px 0;
	@media only screen and (max-width: 768px) {
		padding: 100px 30px;
	}
	@media only screen and (max-width: 480px) {
		padding: 60px 0;
	}
}

.cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}